@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,400i|Raleway:400,500,700');
$getup-secondary: #7b1113;
$getup-primary-off-color: rgba(193, 231, 223, 0.62);
$getup-grey: #505050;
$getup-primary-dark: #2c6357;
$getup-primary-light: #8e171a;
$getup-primary: #014421;
$getup-yellow: #f3aa2c;
$getup-white: #ffffff;
$primary: $getup-primary;
$info: $getup-secondary;
$link: $getup-primary;
$secondary: $getup-secondary;
$button-background-color: #f6762a;
$button-color: $getup-white;
$button-hover-color: #db8958;
$footer-padding: 1rem;
$family-primary: "Raleway", sans-serif;
$family-secondary: "Lato", sans-serif;
$body-background-color: $getup-white;
$font-size-base: 0.8rem;
//MIXINS
@mixin flexCenter ($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

//Standard
.btn-primary {
	background-color: $button-background-color;
	color: $button-color;
	border: none;
	transition: .3s;
	&:hover {
		background-color: $button-hover-color;
		transform: scale(1.03);
	}
}

//Home
.home {
	margin-bottom: 0px !important;
}

.hover-pointer:hover {
	cursor: pointer;
}

.hover-shadow:hover {
	box-shadow: 0 0 10px grey;
	border: 1px solid #80808085;
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(81deg) brightness(101%) contrast(101%);
}

.workout-details-container {
	background: $getup-secondary;
	color: $getup-white;
	padding: 20px 20px;
	border-radius: 15px 15px 0 0;
	z-index: 5;
	position: relative;
}

.rectangle {
	width: 98%;
	height: 1px;
	background: $getup-white;
	margin: 10px auto;
}

// .page {
// 	position: fixed;
// 	width: inherit;
// }

//Home Hero
.sec-hero {
	background: url("../images/header.jpg") center top no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 600px rgba(88, 59, 59, 0.49);
	height: 500px;
}

.sec-hero h1,
.sec-hero p {
	color: $getup-white;
	text-align: left;
}

.sec-hero .hero-container {
	padding: 50px 35px 50px 35px;
	height: 100%;
}

//Home Value proposition
.value-prop-wrapper {
	padding: 50px 0 50px 0;
	display: block;
	.vp-item {
		padding: 30px 20px 30px 20px;
		// margin: 30px;
		height: 100%;
		width: 100%;
		border-radius: 10px;
		background-color: $getup-primary-off-color;
		@include flexCenter (column);
		i {
			font-size: 3em;
			padding-bottom: 25px;
			color: $getup-primary;
		}
		h3 {
			font-size: 1.5em;
			font-weight: 500;
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}

//Home tabs
.multitab {
	display: block;
}

.home-tabs {
	@include flexCenter (row);
}

#home-tabs-title__BV_tab_controls_ {
	padding: 40px 5% 0;
	background-color: $getup-primary;
}

#home-tabs-title__BV_tab_controls_ li a {
	padding-bottom: 30px;
	color: $getup-white;
	height: 100%;
}

#home-tabs-title__BV_tab_controls_ li .nav-link.active {
	color: $getup-primary;
}

#home-tabs-1___BV_tab_button__:before {
	font-family: "Font Awesome 5 Free";
	content: '\f2bb';
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	width: 100%;
	font-size: 2em;
}

#home-tabs-2___BV_tab_button__:before {
	font-family: "Font Awesome 5 Free";
	content: '\f15c';
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	width: 100%;
	font-size: 2em;
}

#home-tabs-3___BV_tab_button__:before {
	font-family: "Font Awesome 5 Free";
	content: '\f128';
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	width: 100%;
	font-size: 2em;
}

//carousel
//Home requirement tab
.lease-requirement__wrapper {
	margin-top: 50px;
}

.lease-requirement {
	padding: 0px;
	text-align: center;
	.eligibility-list {
		text-align: left;
		font-size: 1.3em;
	}
}

.requirement {
	margin: 10px 0 10px 0;
	.icon {
		font-size: 3.5em;
		color: rgba(82, 167, 149, 0.82);
	}
	.detail {
		font-size: 1.3em;
		font-weight: 400;
	}
}

//How to apply
.how-to-apply {
	margin-top: 50px;
	img {
		width: 250px;
	}
	.how-to-apply__desc {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			text-align: center;
			width: 80%;
		}
	}
}

//FAQs
.faq-wrapper {
	margin-top: 50px;
}

// How to apply-VueAgile styles
.agile {
	&__nav-button {
		background: transparent;
		border: none;
		color: black;
		cursor: pointer;
		font-size: 24px;
		height: 100%;
		position: absolute;
		top: 0;
		transition-duration: .3s;
		width: 80px;
		&:hover {
			background-color: rgba(#000, .5);
			opacity: 1;
			color: white;
		}
		&--prev {
			left: 0;
		}
		&--next {
			right: 0;
		}
	}
	&__dots {
		bottom: -40px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}
	&__dot {
		margin: 0 10px;
		button {
			background-color: transparent;
			border: 1px solid black;
			border-radius: 50%;
			cursor: pointer;
			display: block;
			height: 10px;
			font-size: 0;
			line-height: 0;
			margin: 0;
			padding: 0;
			transition-duration: .3s;
			width: 10px;
		}
		&--current,
		&:hover {
			button {
				background-color: black;
			}
		}
	}
}

// HowtApply-Slides styles
.slide {
	display: block;
	height: auto;
	min-height: 200px;
	object-fit: cover;
	width: 100%;
	// min-width: 100%;
}

//form
.form-continer {
	@include flexCenter (column);
}

//form
.formGroupCustom {
	margin: 7px 0 !important;
}

.formGroupCustom legend {
	padding-bottom: 0px !important;
}

.silver label .colorCircle {
	background-color: silver;
}

.spacegray label .colorCircle {
	background-color: gray;
}

.gold label .colorCircle {
	background-color: rgb(255, 148, 129);
}

.silver input,
.spacegray input,
.gold input,
.variationOption input,
.modelOption input,
.customOption input {
	display: none;
}

.selectColor div .form-check-input:checked ~ label .colorCircle,
#selectColor div .form-check-input:checked ~ label .colorCircle {
	border: 3px solid $getup-primary;
}

.selectColor div label .colorCircle,
#selectColor div label .colorCircle {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.selectColor div label .colorCircle:hover,
#selectColor div label .colorCircle:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
}

.selectColor div label div,
#selectColor div label div {
	cursor: pointer;
}

.variationOption {
	width: 32%;
}

.variationOption label {
	width: 100%;
	border: 1px solid #b8b8b85b;
	padding: 10px !important;
	border-radius: 5%;
	background-color: #b8b8b85b;
	color: $getup-grey;
	height: 100%;
}

.variationOption label:hover {
	box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.671);
	cursor: pointer;
}

// .variationOption label {
// 	cursor: pointer;
// }
.modelOption label,
.customOption label {
	border: 1px solid #b8b8b89a;
	border-radius: 2.5%;
	background-color: #b8b8b81c;
	color: $getup-grey;
	text-align: center;
	margin: 3px;
}

.customOption label div {
	padding: 5px !important;
}

.modelOption label:hover,
.customOption label:hover {
	box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.671);
	cursor: pointer;
}

#selectVariation div .form-check-input:checked ~ label {
	border: 1px solid #91cfc29d;
	background-color: #91cfc29d;
	color: $getup-grey;
}

#selectModel div .form-check-input:checked ~ label {
	border: 2px solid $getup-primary;
	background-color: white;
	color: $getup-primary-dark;
}

.selectCustom div .form-check-input:checked ~ label {
	border: 2px solid $getup-primary;
	background-color: #d9faf3bd;
	color: $getup-grey;
}

.text-educredit-grey {
	color: $getup-grey;
}

//summary
.leaseTermsHeader {
	display: none;
}

.steps-container {
	border: 1px solid rgba(150, 150, 150, 0.685);
	border-radius: 5px;
	padding: 10px;
}

.summaryColumnHalf {
	width: 50%;
	font-weight: bold;
}

.step2Footer {
	padding: 20px 5%;
	background-color: rgb(252, 252, 252);
	border-top: 1px solid grey;
}

.greyCircle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #969ca1;
	color: white;
}

.secondaryCircle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	// border: 1px solid $getup-secondary;
	// background-color: white;
	// color: $getup-secondary;
	color: white;
	background-color: $getup-secondary;
}

.primaryCircle {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: $getup-primary;
	color: white;
}

.stepper-line {
	width: calc(90% * 0.80);
	height: 3.5px;
	background-color: #c4c4c4;
	margin: 0 auto;
	z-index: -10;
	position: absolute !important;
	left: calc(5vw + 90vw * 0.1);
	margin-top: 15px !important;
}

.stepper-line-finished {
	height: 3.5px;
	background-color: $getup-primary;
	margin: 0 auto;
	z-index: -5;
	position: absolute !important;
	left: calc(5vw + 90% * 0.1);
	margin-top: 15px !important;
}

.stepper-line-step2 {
	width: calc(90% * 0.2);
}

.stepper-line-step3 {
	width: calc(90% * 0.40);
}

.stepper-line-step4 {
	width: calc(90% * 0.60);
}

.stepper-line-step5 {
	width: calc(90% * 0.80);
}

// slider

.vue-slider-process {
	background-color: $getup-primary !important;
}

.vue-slider-dot-handle {
	border: 2px solid $getup-primary !important;
}

// #selectColor div .custom-control-label {
// 	vertical-align: middle;
// 	display: flex;
// }
//Footer
.page-footer {
	background-color: $getup-primary-light;
	margin-top: 50px;
	padding: 0px 0 20px 0;
	text-align: center;
	color: $getup-grey;
}

.accredited-by-img {
	width: 100px;
}

.footer-icon {
	max-width: 25px;
	max-height: 25px;
}

footer .icon-black i {
	color: black;
}

footer a {
	color: rgb(78, 78, 78);
}

footer a:hover {
	color: rgb(51, 51, 51);
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
